ion-list {

    ion-item {
        p.title {
            color: black !important;
            font-size: 1.0em;
        }
        
        p.date {
            font-size: 0.7em;
            color: #999;
        }
        
        p.amount {
            font-weight: bold;
            font-size: 1.0em;
            font-family: Arial, Helvetica, sans-serif;
        }      
    }
}