ion-list {

    ion-item {
        --detail-push-color: #007ac9;
        // border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.3);

        p.title {
            color: black !important;
            font-size: 1.0em;
        }
        
        p.date {
            font-size: 0.7em;
            color: #888;
        }
        
        p.amount {
            font-weight: bold;
            font-size: 1.0em;
            font-family: Arial, Helvetica, sans-serif;
        }      
    }
}