ion-list {

    ion-item {
        border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.3);

        p.title {
            color: black !important;
            font-weight: bold;
            font-size: 1.2em;
        }
        
        p.account-number {
            font-size: 0.8em;
            color: #888;
        }
        
        p.balance {
            font-weight: bold;
            font-size: 1.2em;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    }
}