<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="ios-arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Puljer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let transaction of transactions" (click)="navigate('/pools2')">
      <div class="thing">{{ transaction.text }}</div>
      <div class="thing">{{ transaction.amount }}</div>
      <img src="assets/img/burger.png" />
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
